.container {
  background-color: red;
  height: 20px; }

.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }
  .row .panel-default {
    width: 900px;
    height: 790px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .row .panel-default .panel-body {
      width: 450px;
      margin: 0 auto; }
      .row .panel-default .panel-body .branding img {
        display: none; }
      .row .panel-default .panel-body .branding h1 {
        font-size: 43px;
        color: #505050; }
      .row .panel-default .panel-body h3 {
        font-size: 28px;
        color: #505050;
        margin-top: 5px;
        margin-bottom: 30px; }
      .row .panel-default .panel-body .intro {
        display: none; }

#attributeList ul {
  padding: 0; }
  #attributeList ul li {
    list-style: none; }
    #attributeList ul li label {
      display: none; }
    #attributeList ul li input {
      height: 50px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 2px solid #D3D3D3;
      text-indent: 20px; }
    #attributeList ul li input::-webkit-input-placeholder {
      text-indent: 20px; }
    #attributeList ul li .attrEntry .itemLevel {
      display: none; }
    #attributeList ul li .attrEntry #email_ver_but_send {
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
      border: 2px solid #0078D7;
      background: none;
      color: #0078D7;
      border-radius: 5px;
      font-size: 18px; }
    #attributeList ul li .helpLink {
      display: none; }

.buttons #continue {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: #0078D7;
  opacity: .3;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px; }

.buttons #cancel {
  position: absolute;
  top: 25px;
  left: 25px;
  background: none;
  border: 0;
  font-size: 21px;
  color: #505050; }

.buttons #cancel:before {
  content: url("../images/left-arrow.svg");
  padding: 10px;
  vertical-align: middle;
  zoom: 90%; }
