.container {
  text-align: center;
  width: 100%;
  display: table;
  height: 100vh;
  margin-top: 2%; }

.col-lg-6 {
  float: none;
  display: inline-block;
  padding: 0; }

.row {
  width: 100%;
  margin: 0;
  display: table-cell;
  vertical-align: middle; }
  .row .panel-default {
    width: 100%; }
    .row .panel-default .panel-body {
      margin: 0 auto;
      max-width: 450px;
      margin-top: 20px;
      margin-bottom: 20px; }
      .row .panel-default .panel-body .branding img {
        display: none; }
      .row .panel-default .panel-body .branding h1 {
        font-size: 43px;
        color: #505050; }
      .row .panel-default .panel-body h3 {
        font-size: 28px;
        color: #505050;
        margin-top: 5px;
        margin-bottom: 30px; }
      .row .panel-default .panel-body .intro {
        display: none; }
      .row .panel-default .panel-body #api #attributeVerification .pageLevel, .row .panel-default .panel-body #api #attributeVerification .error {
        color: #d30000;
        margin-bottom: 10px; }

#attributeList ul {
  padding: 0; }
  #attributeList ul li {
    list-style: none; }
    #attributeList ul li label {
      display: none; }
    #attributeList ul li input {
      height: 50px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 2px solid #D3D3D3;
      text-indent: 20px; }
    #attributeList ul li input::-webkit-input-placeholder {
      text-indent: 20px; }
    #attributeList ul li .attrEntry .verify {
      position: relative; }
      #attributeList ul li .attrEntry .verify #email_ver_but_send {
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        border: 2px solid #0078D7;
        background: none;
        color: #0078D7;
        border-radius: 5px;
        font-size: 18px; }
      #attributeList ul li .attrEntry .verify #email_ver_but_verify {
        width: 65%;
        height: 50px;
        margin-bottom: 15px;
        border: 2px solid #0078D7;
        background: none;
        color: #0078D7;
        border-radius: 5px;
        font-size: 18px; }
      #attributeList ul li .attrEntry .verify #email_ver_but_resend {
        background: none;
        border: 0;
        color: #0078D7;
        font-size: 18px;
        position: absolute;
        right: 0;
        bottom: 13px; }
    #attributeList ul li .attrEntry .itemLevel {
      display: none; }
    #attributeList ul li .helpLink {
      display: none; }

.buttons #continue {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: #0078D7;
  opacity: .3;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px; }

.buttons #cancel {
  background: none;
  border: 0;
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 21px;
  color: #505050; }

.buttons #cancel:before {
  content: url("../images/left-arrow.svg");
  padding: 10px;
  vertical-align: middle;
  zoom: 90%; }

@media screen and (max-width: 480px) {
  .row .panel-default .panel-body .branding img {
    display: block;
    height: 80px;
    width: 95px;
    margin: 0 auto; }
  .row .panel-default .panel-body .branding h1 {
    display: none; }
  .row .panel-default .panel-body h3 {
    font-size: 20px;
    margin-top: 15px; }
  #attributeVerification #attributeList ul li input {
    width: 280px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #D3D3D3;
    text-indent: 10px; }
  #attributeVerification #attributeList ul li input::-webkit-input-placeholder {
    text-indent: 10px; }
  #attributeVerification #attributeList ul li #email {
    width: 70%;
    float: left;
    position: relative;
    z-index: 2; }
  #attributeVerification #attributeList ul li #email_ver_but_verify {
    background: none;
    border: 0;
    color: #0078D7;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    width: 80px;
    z-index: 1;
    top: -2px; }
  #attributeVerification #attributeList ul li #email_ver_input {
    width: 60%; }
  #attributeVerification #attributeList ul li #email_ver_but_resend {
    bottom: 5px;
    font-size: 13px; }
  .buttons #continue {
    height: 40px; }
  .buttons #cancel {
    font-size: 15px;
    left: 13px; } }

@media screen and (min-width: 480px) {
  .row .panel-default {
    min-width: 550px; } }
