// Variables 
$blueColor: #0078D7;
$lightGrayColor: #505050;
$errorMessageColor: #d30000;

// Functions
@mixin email_ver_but_style(){
    margin-bottom: 15px; 
    border: 2px solid $blueColor;
    background: none;
    color: $blueColor;
    border-radius: 5px;
    font-size: 18px;
};

@mixin clear_but_style() {
    background: none;
    border: 0;
}

@mixin email_ver_text_style() {
    color: $blueColor;
    font-size: 18px;
}

// Styles
.self_asserted_container {
    .row {
        .panel-default {
            .panel-body {
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                max-width: 450px;
                .branding {
                    img {
                        display: none;
                    }
                    h1 {
                        font-size: 43px;
                        color: $lightGrayColor;
                    }
                }
                h3 {
                    font-size: 28px;
                    color: $lightGrayColor;
                    margin-top: 5px;
                    margin-bottom: 30px;
                }
                .intro {
                    display: none;
                }
                #api {
                    #attributeVerification {
                        .pageLevel, .error {
                            color: $errorMessageColor;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}


#attributeList {
    ul {
        padding: 0;
        li {
            list-style: none;
            label {
                display: none;
            }
            input {
                height: 50px;
                width: 100%;
                margin-bottom: 15px;
                border-radius: 5px;
                border: 2px solid #D3D3D3;
                text-indent: 20px;
            }
            input::-webkit-input-placeholder {
                text-indent: 20px;
            }
            .attrEntry {
                .verify {
                    position: relative;
                    #email_ver_but_send {
                        width: 100%;
                        height: 50px;
                        @include email_ver_but_style;
                    }
                    #email_ver_but_verify {
                        width: 65%;
                        height: 50px;
                        @include email_ver_but_style;
                    }
                    #email_ver_but_resend {
                        @include clear_but_style;
                        @include email_ver_text_style;
                        position: absolute;
                        right: 0;
                        bottom: 13px;
                    }
                }
                .itemLevel {
                    display: none;
                }
            }
            .helpLink {
                display: none;
            }
        }
    }
}

.buttons {
    #continue {
        margin: 0 auto;
        width: 100%;
        height: 50px;
        background-color: $blueColor;
        opacity: .3;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 18px;
    }
    #cancel {
        @include clear_but_style;
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 21px;
        color: $lightGrayColor;
    }
    #cancel:before {
        content: url("../images/left-arrow.svg");
        padding: 10px;
        vertical-align: middle;
        zoom: 90%;
    }
}


// Responsive Styles
@media screen and (max-width: 480px) {
    .row {
        .panel-default {
            .panel-body {
                .branding {
                    img {
                        display: block;
                        height: 80px;
                        width: 95px;
                        margin: 0 auto;
                    }
                    h1 {
                        display: none;
                    }
                }
                h3 {
                    font-size: 20px;
                    margin-top: 15px;
                }
            }
        }
    }

    #attributeVerification {
        #attributeList {
            ul {
                li {
                    input {
                        height: 40px;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        border: 2px solid #D3D3D3;
                        text-indent: 10px;
                    }
                    input::-webkit-input-placeholder {
                        text-indent: 10px;
                    }
                    #email {
                        width: 70%;
                        float: left;
                        position: relative;
                        z-index: 2;
                    }
                    #email_ver_but_verify {
                        @include clear_but_style();
                        @include email_ver_text_style;
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 13px;
                        width: 80px;
                        z-index: 1;
                        top: -2px;
                    }
                    #email_ver_input {
                        width: 60%;
                    }
                    #email_ver_but_resend {
                        bottom: 5px;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .buttons {
        #continue {
            height: 40px;
        }
        #cancel {
            font-size: 15px;
            left: 13px;
        }
    }
}


// Responsive Styles
@media screen and (max-width: 480px) {
    .self_asserted_container {
        .row {
            .panel-default {
                height: 550px;
                .panel-body {
                    margin-top: 40px;
                }
            } 
        }
    } 
    
}