// Variables 
$blueColor: #0078D7;
$lightGrayColor: #505050;
$errorMessageColor: #d30000;

// Functions
@mixin email_ver_but_style(){
    margin-bottom: 15px; 
    border: 2px solid $blueColor;
    background: none;
    color: $blueColor;
    border-radius: 5px;
    font-size: 18px;
};

@mixin clear_but_style() {
    background: none;
    border: 0;
}

@mixin email_ver_text_style() {
    color: $blueColor;
    font-size: 18px;
}

// Styles
.self_asserted_container {
    .row {
        .panel-default {
            .panel-body {
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                max-width: 450px;
                .branding {
                    img {
                        display: none;
                    }
                    h1 {
                        font-size: 43px;
                        color: $lightGrayColor;
                    }
                }
                h3 {
                    font-size: 28px;
                    color: $lightGrayColor;
                    margin-top: 5px;
                    margin-bottom: 30px;
                }
                .intro {
                    display: none;
                }
                #api {
                    #attributeVerification {
                        .pageLevel, .error {
                            color: $errorMessageColor;
                            margin-bottom: 10px;
                        }
                    }
                    .verifying-modal {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}


#attributeList {
    ul {
        padding: 0;
        li {
            list-style: none;
            label {
                display: none;
            }
            input {
                height: 50px;
                width: 100%;
                margin-bottom: 15px;
                border-radius: 5px;
                border: 2px solid #D3D3D3;
                text-indent: 20px;
            }
            input::-webkit-input-placeholder {
                text-indent: 20px;
            }
            .attrEntry {
                .verify {
                    position: relative;
                    #email_ver_but_send {
                        width: 100%;
                        height: 50px;
                        @include email_ver_but_style;
                    }
                    #email_ver_but_verify {
                        width: 65%;
                        height: 50px;
                        float: left;
                        @include email_ver_but_style;
                    }
                    #email_ver_but_resend {
                        @include clear_but_style;
                        @include email_ver_text_style;
                        position: absolute;
                        right: 0;
                        bottom: -38px;
                    }
                    #email_ver_but_edit {
                        @include email_ver_but_style;
                        width: 100%;
                        height: 50px;
                    }
                    #email_ver_input_label {
                        display: none !important;
                    }                    
                }
                .itemLevel {
                    display: none;
                }
            }
            .helpLink {
                display: none;
            }
        }
    }
}

.buttons {
    #continue:disabled {
        margin: 0 auto;
        width: 100%;
        height: 50px;
        background-color: $blueColor;
        opacity: .3;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 18px;
    }
    #continue {
        margin: 0 auto;
        width: 100%;
        height: 50px;
        background-color: $blueColor;
        opacity: 1;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 18px;
    }
    #cancel {
        @include clear_but_style;
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 21px;
        color: $lightGrayColor;
    }
    #cancel:before {
        content: url("../images/left-arrow.svg");
        padding: 10px;
        vertical-align: middle;
        zoom: 90%;
    }
}


// Responsive Styles
@media screen and (max-width: 480px) {
    .row {
        .panel-default {
            .panel-body {
                margin-top: 40px;
                .branding {
                    img {
                        display: block;
                        height: 80px;
                        width: 95px;
                        margin: 0 auto;
                    }
                    h1 {
                        display: none;
                    }
                }
                h3 {
                    font-size: 20px;
                    margin-top: 15px;
                }
            }
        }
    }

    #attributeVerification {
        #attributeList {
            ul {
                li {
                    input {
                        height: 40px;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        border: 2px solid #D3D3D3;
                        text-indent: 10px;
                    }
                    input::-webkit-input-placeholder {
                        text-indent: 10px;
                    }
                    #email {
                        width: 65%;
                        float: left;
                        position: relative;
                        z-index: 2;
                    }
                    #email_ver_but_verify {
                        @include clear_but_style();
                        @include email_ver_text_style;
                        position: absolute;
                        right: 0;
                        top: 60px;
                        font-size: 13px;
                        width: 80px;
                        z-index: 1;
                        height: 20px;
                    }
                    #email_ver_input {
                        width: 70%;
                        float: left;
                    }
                    #email_ver_but_resend {
                        top: 10px;
                        font-size: 13px;
                        height: 20px;
                    }
                    .attrEntry {
                        #email {
                            height: 40px;
                        }
                        .verify {
                            #email_ver_but_send:after {
                                content: " Verify";
                                font-size: 18;
                                font-style: bold;
                                margin-left: 20px;
                            }
                            #email_ver_but_send {
                                height: 40px;
                                width: 95px;
                                float: right;
                                overflow: hidden;
                                text-indent: -200px;
                            }
                            #email_ver_but_edit {
                                @include email_ver_but_style;
                                width: 30%;
                                height: 40px;
                                overflow: hidden;
                                padding-top: 6px;
                                margin-left: 10px;
                            }
                        }
                        .verify:after {
                            content: " ";
                            display: block;
                            clear: both;
                        }
                    }
            }
        }
        #verifying_blurb {
            margin-top: 15px;
        }
    }

    .buttons {
        #continue {
            height: 40px;
        }
        #cancel {
            font-size: 15px;
            left: 13px;
        }
    }
}
}